{% extends 'base.html' %}
{% block title %}Projects{% endblock%}

{% block content %}
  
  <body>
    <div class="container">
      <ul class="nav">
        <li><a href="{% url 'entries' %}">Entries</a></li>
        <li><a href="{% url 'clients' %}"class="active">Clients</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'summary' %}">Summary</a></li>

      </ul>

      <h2>Clients</h2>
      <ul>
        {% for client in client_list %}
        <li>{{ client.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
{% endblock %}
