{% extends 'base.html' %}
{% block title %}Projects{% endblock%}

{% block content %}
  
  <body>
    <div class="container">
      <ul class="nav">
        <li><a href="{% url 'entries' %}">Entries</a></li>
        <li><a href="{% url 'clients' %}">Clients</a></li>
        <li><a href="{% url 'projects' %}"class="active">Projects</a></li>
        <li><a href="{% url 'summary' %}">Summary</a></li>

      </ul>

      <h2>Projects</h2>
      <ul>
        {% for project in project_list %}
        <li>{{ project.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
{% endblock %}
